// Import fonts

// Locale fonts
@font-face {
  font-family: 'Marvel';
  src: url('../assets/fonts/Marvel-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Marvel';
  src: url('../assets/fonts/Marvel-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
